/* Generals */

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h1 {
    font-size: 1.7rem;
    font-weight: 700;
}

h2 {
    font-size: 1.1rem;
    font-weight: 700;
}

h3 {
    font-weight: 700;
}

.regular-text {
    color: grey;
    font-size: 0.8rem;
    font-weight: 500;
    display: block;
}

/* Layout */

.top-content {
    height: calc(100vh - 100px);
    display: flex;
}

.side-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

main {
    width: calc(100% - 300px);
    height: 100%;
    background-color: #141922;
    overflow: auto;
}

header {
    position: fixed;
    width: calc(100% - 300px);
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.4);
}

.content {
    padding: 120px 20px 20px 20px;
}

/* Side Content */

.side-content>#logo {
    width: 170px;
}

/* Side Content Nav */

.side-content-nav {
    margin: 30px 0;
}

.side-content-nav li {
    position: relative;
}

.side-content-nav .nav-selected::before {
    content: "";
    border: 2px solid greenyellow;
    position: absolute;
    left: -20px;
    height: 100%;
}

.side-content-nav .side-content-icons {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.side-content-nav .side-content-icons>img {
    width: 30px;
}

.side-content-nav .side-content-icons .regular-text,
.side-content .playlist .regular-text {
    margin-left: 5px;
}

/* Side Content Playlist */

.side-content .create-playlist .fa-square-plus {
    font-size: 2.5rem;
}

.playlist .create-playlist {
    margin: 15px 0;
    display: flex;
    align-items: center;
}


.playlist .playlist-list li {
    font-size: 0.9rem;
    margin: 20px 0;
}

/* Profile */

.side-content .profile {
    margin-top: auto;
}

.side-content .profile hr {
    margin: 10px 0;
}

.side-content .profile-icon>img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.side-content .profile-name {
    display: flex;
    align-items: center;
}

.side-content .profile-name .profile-icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: grey;
}

.profile-name .profile-text {
    font-size: 0.9rem;
    margin-left: 10px;
    font-weight: 600;
}


/* Download App */

.download-app {
    color: grey;
    display: flex;
    align-items: center;
}

.side-content .download-app>img {
    width: 20px;
}

.side-content .download-app .download-text {
    margin-left: 10px;
    font-size: 0.8rem;
}

/* Header */

.upgrade-btn {
    float: right;
    font-weight: 500;
    padding: 15px 50px;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 0.9rem;
}

/* Main Content */

.content .genre-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.content .genre-nav li {
    color: grey;
    font-weight: 600;
}

.content .genre-nav li.genre-selected::after {
    content: "";
    margin-top: 3px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 50%;
    border: 1px solid greenyellow;
}

.content section {
    margin: 30px 0;
}

.content section>.regular-text {
    margin: 10px 0;
}

/* Cards */

.song-list {
    margin: 0 -10px;
}

.row .card {
    padding: 0 10px;
    margin: 30px 0;
    text-align: center;
}

.row .card h2 {
    margin: 10px 0 5px 0;
}

.card.artist img {
    border-radius: 50%;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 100px;
    padding: 10px;
    background-color: #282828;
}

/* Song Listening */

.song-listening {
    display: flex;
    align-items: center;
}

.song-listening .song-little-view {
    width: 60px;
}

.song-listening .song-details {
    margin-left: 15px;
}

.song-listening .song-details>span {
    display: block;
}

.song-listening .song-action {
    margin-left: 30px;
}

/* Action Buttons */

.action-buttons {
    width: 40%;
}

/* Top Action Buttons */

.top-action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-action-buttons>i {
    margin: 0 10px;
    font-size: 1.3rem;
}

.top-action-buttons>.play-button {
    margin: 0 20px;
    font-size: 2.2rem;
}

/* Bottom Action Buttons */

.bottom-action-buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.bottom-action-buttons .time-bar {
    margin: 0 30px;
    border: 2px solid grey;
    border-radius: 50px;
    width: 100%;
    position: relative;
}

.bottom-action-buttons .time-bar .time-bar-advance {
    width: 30%;
    border: 2px solid lightgray;
    border-radius: 50px;
    position: absolute;
    top: -2px;
    left: -2px;
}

.bottom-action-buttons .time {
    font-size: 0.8rem;
    font-weight: 600;
}

/* Options Buttons */

.options-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.options-buttons .volume-bar {
    width: 100px;
    border: 2px solid grey;
    border-radius: 50px;
    position: relative;
}

.options-buttons .volume-bar .volume-bar-advance {
    width: 30%;
    border: 2px solid lightgray;
    border-radius: 50px;
    position: absolute;
    top: -2px;
    left: -2px;
}