/* Generals */

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h3 {
    font-weight: 700;
}

.regular-text {
    font-size: 0.9rem;
    font-weight: 500;
    display: inline-block;
}

/* Layout */

.top-content {
    height: calc(100vh - 100px);
    display: flex;
}

.side-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    height: 100%;
    background-color: black;
}

main {
    width: calc(100% - 300px);
    height: 100%;
    background-color: #141922;
    overflow: auto;
}

header {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Side Content */

.side-content>#logo {
    width: 170px;
}

/* Side Content Nav */

.side-content-nav {
    margin: 30px 0;
}

.side-content-nav .side-content-icons {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.side-content-nav .side-content-icons>img {
    width: 30px;
}

.side-content-nav .side-content-icons .regular-text,
.side-content .playlist .regular-text {
    margin-left: 5px;
}

/* Side Content Playlist */

.side-content .create-playlist .fa-square-plus {
    font-size: 2.5rem;
}

.playlist .create-playlist {
    margin: 15px 0;
    display: flex;
    align-items: center;
}


.playlist .playlist-list li {
    font-size: 0.9rem;
    margin: 20px 0;
}

/* Profile */

.side-content .profile {
    margin-top: auto;
}

.side-content .profile hr {
    margin: 10px 0;
}

/* Download App */

.download-app {
    display: flex;
    align-items: center;
}

.side-content .download-app>img {
    width: 20px;
}

.side-content .download-app .download-text {
    margin-left: 10px;
    font-size: 0.8rem;
}

/* Footer */

footer {
    position: relative;
    z-index: 1;
    height: 100px;
    background-color: #282828;
}