/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

/* Row */

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* Columns */

[class*="col"] {
	flex: 0 0 auto;
}

.col {
	flex-basis: calc((100% / 12) * 2);
	max-width: calc((100% / 12) * 2);
}